.head{
  height: 220px;
  border-radius: 5px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 4%, rgba(0,0,0,0.41530115464154416) 100%);
  border-radius: 5px 5px 0px 0px;
  position: relative;
  /*z-index: 3;*/
}
.background_img{
width: 100%;
height: 100%;
border-radius: 5px;
object-fit: cover;
position: relative;
/*z-index: 1;*/
}
