/* Grid skeleton */
.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  display: grid; 
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 8px;
}

/* Navbar*/
.nav{
  grid-area: n;
  }

/* Profile */
.content{
grid-area: c;
}

/* United Styling*/
.borderBox{
  background-color:#ffffff;
  border-radius: 5px;
  -webkit-box-shadow: -1px 0px 7px 5px rgba(0,0,0,0.09); 
  box-shadow: -1px 0px 7px 5px rgba(0,0,0,0.09);
  }
